* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  text-decoration: none;
}

li{
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.standard-flex {
  display: flex;
  justify-content: space-around;
}

@mixin text-standard {
    font-family: "Lobster", cursive;
    color: blanchedalmond;
}

$background: ('fondo': #000);

body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  background: url(/imagenes/background.jpg) no-repeat center center fixed;
  background-size: cover;
  animation: transitionIn 0.75s;
}

.nav-color {
  background-color: map-get($map: $background, $key: fondo);
}

.logo {
    @include text-standard();
  font-size: 3rem;
}

nav {
  @extend .standard-flex;
  align-items: center;
  min-height: 8vh;
}

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  & span {
    display: block;
    background-color: aliceblue;
    height: 0.5rem;
    width: 3rem;
    margin: 1rem auto;
    border-radius: 0, 5rem;
    transition: 0.2s 0.1s;
  }
}

.enlaces-menu {
  display: flex;
  padding: 0;
  & > li {
    padding: 0 40px;
    list-style-type: none;
    transition: 0.5s;
    &:hover {
      background-color: rgb(194, 165, 121);
    }
    & > a {
      text-decoration: none;
      font-size: 1.8rem;
      color: blanchedalmond;
    }
  }
}

.section-evento{
  @extend .standard-flex;
  margin: 15rem;
  background-color: map-get($map: $background, $key: fondo );
  border-style: solid;
  border-color: blanchedalmond;
  padding: 5rem;
  h2{
    @include text-standard();
    font-size: 4rem
  }
  p{
    @include text-standard();
    font-size: 2rem
  }
}

.boton-compra{
  @extend .standard-flex;
  font-size: 2rem;
}

.entrada{
  @include text-standard();
  padding: 1rem;
  transition-duration: 0.5s;
  &:hover{
    background-color: blanchedalmond;
    color: black;
  }
}

.footer {
    padding-top: 2rem;
  background-color: map-get($map: $background, $key: fondo);
  @extend .standard-flex;
  .footer-title{
    @include text-standard;
  }
  h3{
    @include text-standard();
    font-family:'roboto', sans-serif;
    font-size: 2rem;
  }
  h5{
    @include text-standard()
  }
  p{
    color: blanchedalmond;
  }
  ul{
    display: flex;
    li{
      justify-content: space-between;
    }
  }
}

hr.linea{
  border-top: 1px solid blanchedalmond;
  width: 100%;
}

.main-box {
  animation: transitionIn 0.75s;
  flex: 1;
}

.contacto{
  flex: 1;
  background-color: #000;
  margin: 5rem;
  h2{
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-family: "Lobster", cursive;
    color: blanchedalmond;
    font-size: 4rem;
  }
  .form-contacto{
    flex-direction: column;
    display: flex;
    align-self: center;
    margin: 1rem 6rem;
    padding: 5rem;
    label{
      margin-left: 15rem;
      margin-right: 15rem;
    }
}
}

.input-text{
  text-align: center;
}


.main-calendar{
  background-color: blanchedalmond;
  margin: 6rem;
  span{
    font-family: "Lobster", cursive;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .calendario{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    li{
      text-align: center;
    }
    .dia{
      text-align: center;
    }
    .dias{
      list-style: none;
      text-align: right;
      padding: 2em 3em;
    }
  }
}

.nosotros-box{
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 10rem;
  h2{
    @include text-standard();
    color: #000;
    font-size: 15rem;
  }
}

.texto-nosotros{
  p{
    font-family: "Lobster", cursive;
    color: blanchedalmond;
    font-size: 9rem;
  }
}




























/*responsive*/
@media (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .logo {
    padding-left: 3rem;
  }

  .ham {
    display: block;
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 2.5rem 0;
  }

  .enlaces-menu {
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    opacity: 0;
    & li {
      width: 100%;
      text-align: center;
      padding: 1.5rem;
    }
  }
  .nav-color {
    display: block;
    &.activado {
      .enlaces-menu {
        display: flex;
        animation: muestra-menu 350ms ease-in-out both;
      }
      .br1 {
        transform: translate(0, 1.5rem) rotate(-45deg);
      }

      .br2 {
        opacity: 0;
      }
      .br3 {
        transform: translate(0, -1.5rem) rotate(45deg);
      }
    }
  }
}

@keyframes muestra-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
